
          <li>
            <a class="nav-link text-light" href="user_path(current_user)">
              <i class="fas fa-home" aria-hidden="true"></i> Home
</a>          </li>
          <li>
            <a class="nav-link text-light" href="/users">
              <i class="fas fa-users" aria-hidden="true"></i> Users
</a>          </li>
          <li>
            <a class="nav-link text-light" href="/books">
              <i class="fas fa-book-open" aria-hidden="true"></i> Books
</a>          </li>
          <li>
            <a class="nav-link text-light" rel="nofollow" data-method="delete" href="/users/sign_out">
              <i class="fas fa-sign-out-alt" aria-hidden="true"></i> Log out
</a>          </li>








      
      <%= link_to root_path do%>
        <span class="navbar-brand">Bookers</span>
      <% end %>  
      <ul class="navbar-nav ml-auto">
      
      
      <% if user_signed_in? %><!--ログイン済みの場合、% if user_signed_in? %>から% else %>間のコードが表示されます。-->
       <li>
        <%= link_to user_path(current_user), class="nav-link text-light" do%>
          <i class="fas fa-home" aria-hidden="true"></i> Home
        <% end %>
       </li>  
        
      <li>
        <%= link_to users_path, class="nav-link text-light" do%>
          <i class="fas fa-users" aria-hidden="true"></i> Users
        <% end %>  
      </li>
        
      <li>
        <%= link_to books_path, class="nav-link text-light" do%>
          <i class="fas fa-book-open" aria-hidden="true"></i> Books
        <% end %>
      </li>
      
      <li>
        <%= link_to destroy_user_session_path, method: :delete, class="nav-link text-light" do%>
          <i class="fas fa-sign-out-alt" aria-hidden="true"></i> Log out
        <% end %>  
      </li>
        
      <% else %><!--ログインしていない場合、% else %>から% end %>間のコードが表示されます。-->  
        
      <li>
        <%= link_to root_path, class="nav-link text-light" do%>
          <i class="fas fa-home" aria-hidden="true"></i> Home
        <% end %>  
      </li>  
        
      <li>
        <%= link_to about_path, class="nav-link text-light" do%>
          <i class="fas fa-link" aria-hidden="true"></i> About
        <% end %>
      </li>  
        
      <li>
        <%= link_to new_user_registration_path, class="nav-link text-light" do%>
          <i class="fas fa-user-plus" aria-hidden="true"></i> Sign up
        <% end %> 
      </li>  
        
      <li>
        <%= link_to new_user_session_path, class: "nav-link text-light" do%>
          <i class="fas fa-sign-in-alt" aria-hidden="true"></i> Log in
        <% end %>  
      </li>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      <li class="nav-item">
        <%= link_to "Home", root_path %>
      </li>
      <li class="nav-item">
        <%= link_to " About", about_path %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link text-light' %>
      </li>
      <li class="nav-item">
        <%= link_to "Log in", new_user_session_path, class: 'nav-link text-light' %>
      </li>
    <% end %>
  </header>

    <%= yield %>


    <%= link_to "Log in", new_user_session_path %>

<%= link_to "Sign Up", new_user_registration_path %>










<li>
        <a class="nav-link text-light" href="/users/:id"><!--エラー-->
          <i class="fas fa-home" aria-hidden="true"></i> Home
        </a>
       </li>

      <li>
        <a class="nav-link text-light" href="/users">
          <i class="fas fa-users" aria-hidden="true"></i> Users
        </a>
      </li>

      <li>
        <a class="nav-link text-light" href="/books">
          <i class="fas fa-book-open" aria-hidden="true"></i> Books
        </a>
      </li>

      <li>
        <a class="nav-link text-light" rel="nofollow" data-method="delete" href="/users/sign_out">
          <i class="fas fa-sign-out-alt" aria-hidden="true"></i> Log out
        </a>
      </li>


      <% else %><!--ログインしていない場合、% else %>から% end %>間のコードが表示されます。-->
      <li>
        <a class="nav-link text-light" href="/">
          <i class="fas fa-home" aria-hidden="true"></i> Home
        </a>
      </li>

      <li>
        <a class="nav-link text-light" href="/home/about">
          <i class="fas fa-link" aria-hidden="true"></i> About
        </a>
      </li>

      <li>
        <a class="nav-link text-light" href="/users/sign_up">
          <i class="fas fa-user-plus" aria-hidden="true"></i> Sign up
        </a>
      </li>

      <li>
        <a class="nav-link text-light" href="/users/sign_in">
          <i class="fas fa-sign-in-alt" aria-hidden="true"></i> Log in
        </a>
      </li>