<h1>自分投稿後の詳細ページ</h1>
<%= render 'new', books: @books, book: @book, user: @user %>
<h2>Book detail</h2>
<table class="table table-striped">
  <tbody>

    <tr>
      <td><%= image_tag @user.get_profile_image(100,100) %><!--画像と名前をBootstarpで一つのcolにまとめる-->
      <%= @user.name%></td>
      <td>
        <span><%= link_to @book.title, book_path(@book.id) %></span>
      </td>
      <td>
        <span><%= @book.body %></span>
      </td>
      <td><%= link_to "Edit", edit_book_path(@book.id) %></td>
      <% if @book.user == current_user %>
      <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？" %></td>
      <% end %>
    </tr>

  </tbody>
</table>